<div class="card card-product card-product-style-1 border-0 shadow-none" v-match-heights="{el: ['.card-title']}">
  <span class="badges">
    <span v-if="product.compare_at_price > product.price" class="px-3 py-2 badge badge-right badge-danger">{{ 'products.product.on_sale' | t | escape }}</span>
  </span>
  <span>
    <i class="icon-wishlist"></i>
  </span>
  <div class="card-img text-center" :class="{'bg-gray-300': !product.featured_image}">
    <a v-if="product.featured_image" :href="'/products/' + product.handle">
      <div class="category-image position-relative padding-top-88">
          <img
              :src="_getSizedImageUrl(product.featured_image, 'pico')"
              :data-src="_getSizedImageUrl(product.featured_image, '400x')"
              class="img-fluid lazyload position-absolute img-wrapper top-left-50 img-object-contain"
              :alt="product.title"/>
      </div>
    </a>
    <span v-else>
      {{ 'product-1' | placeholder_svg_tag: 'img-fluid' }}
    </span>
  </div>
  <div class="card-body text-center px-0">
    <div class="row no-gutters">
      <div class="col-12">
        <div class="card-title">
          <h5 class="vender text-uppercase mb-2 letter-spacing-normal">APPAREO</h5>
          <a class="mb-3" :href="'/products/' + product.handle" v-text="product.title"></a>
          <!-- <div class="d-block pt-1" v-html="_getCollItemReviews(product.hulkapps_reviews)"></div> -->
          <div class="text-center">
            <span class="font-size-ex-sm text-uppercase font-weight-bold">Options:</span>
            <p class="text-gray-600">Portable</p>
          </div>
        </div>
      </div>
      <div class="col-12 text-center">
        <s v-if="product.compare_at_price > product.price" v-html="_formatMoney(product.compare_at_price)" class="price small m-0 p-0"></s>
        <span v-html="_formatMoney(product.price)" data-product-id="{{ product.id }}" class="money price m-0 p-0 h6 text-primary font-weight-bold f-open"></span>
        <div class="special-price">
            <span class="font-weight-bold text-primary d-block mb-1">Special Price</span>
            <a class="text-capitalize">Add to Cart to view</a>
        </div>
      </div>
    </div>
  </div>
  
</div>
