<!-- Index Hero Section Starts -->
<section class="px-3 d-none">
    <div class="index-hero-2 desktop-hero ">
        <div class="container">
            <div class="row ">
                <div class="col-lg-5 mx-auto text-center">
                    <h1 class="text-white font-weight-bold">We keep pilots, <br>
                        aircraft owners and <br>
                        operators flying</h1>
                    <p class="text-white">since 1984.</p> 
                    <div class="index-hero-btn">
                        <a class="btn-animation btn-a-black" href="#">shop all</a>
                        <a class="btn-animation btn-a-white" href="#">view catalog</a>
                    </div>     
                </div>
            </div>
        </div>
    </div>
    
</section>



<section class="px-3 d-md-none d-block">
    <div class="index-hero-2 mobile-hero ">
        <div class="container">
            <div class="row ">
                <div class="col-lg-5 mx-auto text-center">
                    <h1 class="text-white font-weight-bold">We keep pilots, <br>
                        aircraft owners <br> and 
                        operators flying</h1>
                    <p class="text-white">since 1984.</p> 
                    <div class="index-hero-btn">
                        <a class="btn-animation btn-a-black" href="#">shop all</a>
                        <a class="btn-animation btn-a-white" href="#">view catalog</a>
                    </div>     
                </div>
            </div>
        </div>
    </div>
   
</section>

<!-- Index Hero Section ends -->
{% schema %}
{
"name": "Index Hero 2",
"settings": [

],
"presets": [
{
    "name": "Index Hero 2",
    "category": "ADVANCED LAYOUT"
}
]
}
{% endschema %}
