<section class="news-archive d-block">
    <div class="banner-section">
        <div class="banner-wrapper"><img data-sizes="auto"
                src="https://cdn.shopify.com/s/files/1/0541/8313/3361/files/plane-propeller.jpg?v=1615552889"
                alt="Kit panels" class="img-wrapper img-fluid"></div>
    </div>
    <div class="container">
        <div class="section-content">
            <div class="row">
                <div class="col-12 text-center">
                    <h1 class="font-weight-bold letter-spacing text-uppercase text-primary mb-3 mb-md-5">WHAT'S NEW AT
                        GULF COAST AVIONICS</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-ex-lg-10 mx-auto">
                    <div class="news-list section-padding">
                        <div class="row">
                            <div class="col-lg-4 col-sm-6 mb-md-7 mb-6 text-sm-center text-left item">
                                <a href="" class="primary-link d-inline-block mb-3 font-weight-bold">GCA’s top 5
                                    avionics products for 2020</a>
                                <p class="mb-md-4 mb-3">Wednesday, December 2, 2020</p>
                            </div>
                            <div class="col-lg-4 col-sm-6 mb-md-7 mb-6 text-sm-center text-left item">
                                <a href="" class="primary-link d-inline-block mb-3 font-weight-bold">GULF COAST AVIONICS
                                    RECEIVES THE PRESTIGIOUS 2019 GARMIN PLATINUM AWARD FOR ELITE PERFORMANCE</a>
                                <p class="mb-md-4 mb-3">Tuesday, September 22, 2020</p>
                                <p class="mb-2">This award marks 25 consecutive years that the Lakeland, Florida-based
                                    company has been named a global Platinum Award for Elite Performance winner for
                                    Garmin aviation products. </p>
                                <a href="" class="primary-link font-weight-bold">read more</a>
                            </div>
                            <div class="col-lg-4 col-sm-6 mb-md-7 mb-6 text-sm-center text-left item">
                                <a href="" class="primary-link d-inline-block mb-3 font-weight-bold">GULF COAST AVIONICS
                                    RECEIVES THE PRESTIGIOUS 2019 GARMIN PLATINUM AWARD FOR ELITE PERFORMANCE</a>
                                <p class="mb-md-4 mb-3">Monday, February 3, 2020</p>
                                <p class="mb-2">The all-Garmin panel upgrade features dual G600 TXi touchscreen
                                    displays, dual GTN 750s, and ADS-B Out/In compliance, which deliver next-gen
                                    capabilities, and safety to the EMS operated King Air.</p>
                                <a href="" class="primary-link font-weight-bold">read more</a>
                            </div>
                            <div class="col-lg-4 col-sm-6 mb-md-7 mb-6 text-sm-center text-left item">
                                <a href="" class="primary-link d-inline-block mb-3 font-weight-bold">GCA’s top 5
                                    avionics products for 2020</a>
                                <p class="mb-md-4 mb-3">Wednesday, December 2, 2020</p>
                            </div>
                            <div class="col-lg-4 col-sm-6 mb-md-7 mb-6 text-sm-center text-left item">
                                <a href="" class="primary-link d-inline-block mb-3 font-weight-bold">GULF COAST AVIONICS
                                    RECEIVES THE PRESTIGIOUS 2019 GARMIN PLATINUM AWARD FOR ELITE PERFORMANCE</a>
                                <p class="mb-md-4 mb-3">Tuesday, September 22, 2020</p>
                                <p class="mb-2">This award marks 25 consecutive years that the Lakeland, Florida-based
                                    company has been named a global Platinum Award for Elite Performance winner for
                                    Garmin aviation products. </p>
                                <a href="" class="primary-link font-weight-bold">read more</a>
                            </div>
                            <div class="col-lg-4 col-sm-6 mb-md-7 mb-6 text-sm-center text-left item">
                                <a href="" class="primary-link d-inline-block mb-3 font-weight-bold">GULF COAST AVIONICS
                                    RECEIVES THE PRESTIGIOUS 2019 GARMIN PLATINUM AWARD FOR ELITE PERFORMANCE</a>
                                <p class="mb-md-4 mb-3">Monday, February 3, 2020</p>
                                <p class="mb-2">The all-Garmin panel upgrade features dual G600 TXi touchscreen
                                    displays, dual GTN 750s, and ADS-B Out/In compliance, which deliver next-gen
                                    capabilities, and safety to the EMS operated King Air.</p>
                                <a href="" class="primary-link font-weight-bold">read more</a>
                            </div>
                            <div class="col-lg-4 col-sm-6 mb-md-7 mb-6 text-sm-center text-left item">
                                <a href="" class="primary-link d-inline-block mb-3 font-weight-bold">GCA’s top 5
                                    avionics products for 2020</a>
                                <p class="mb-md-4 mb-3">Wednesday, December 2, 2020</p>
                            </div>
                            <div class="col-lg-4 col-sm-6 mb-md-7 mb-6 text-sm-center text-left item">
                                <a href="" class="primary-link d-inline-block mb-3 font-weight-bold">GULF COAST AVIONICS
                                    RECEIVES THE PRESTIGIOUS 2019 GARMIN PLATINUM AWARD FOR ELITE PERFORMANCE</a>
                                <p class="mb-md-4 mb-3">Tuesday, September 22, 2020</p>
                                <p class="mb-2">This award marks 25 consecutive years that the Lakeland, Florida-based
                                    company has been named a global Platinum Award for Elite Performance winner for
                                    Garmin aviation products. </p>
                                <a href="" class="primary-link font-weight-bold">read more</a>
                            </div>
                            <div class="col-lg-4 col-sm-6 mb-md-7 mb-6 text-sm-center text-left item">
                                <a href="" class="primary-link d-inline-block mb-3 font-weight-bold">GULF COAST AVIONICS
                                    RECEIVES THE PRESTIGIOUS 2019 GARMIN PLATINUM AWARD FOR ELITE PERFORMANCE</a>
                                <p class="mb-md-4 mb-3">Monday, February 3, 2020</p>
                                <p class="mb-2">The all-Garmin panel upgrade features dual G600 TXi touchscreen
                                    displays, dual GTN 750s, and ADS-B Out/In compliance, which deliver next-gen
                                    capabilities, and safety to the EMS operated King Air.</p>
                                <a href="" class="primary-link font-weight-bold">read more</a>
                            </div>
                            <div class="col-lg-4 col-sm-6 mb-md-7 mb-6 text-sm-center text-left item">
                                <a href="" class="primary-link d-inline-block mb-3 font-weight-bold">GCA’s top 5
                                    avionics products for 2020</a>
                                <p class="mb-md-4 mb-3">Wednesday, December 2, 2020</p>
                            </div>
                            <div class="col-lg-4 col-sm-6 mb-md-7 mb-6 text-sm-center text-left item">
                                <a href="" class="primary-link d-inline-block mb-3 font-weight-bold">GULF COAST AVIONICS
                                    RECEIVES THE PRESTIGIOUS 2019 GARMIN PLATINUM AWARD FOR ELITE PERFORMANCE</a>
                                <p class="mb-md-4 mb-3">Tuesday, September 22, 2020</p>
                                <p class="mb-2">This award marks 25 consecutive years that the Lakeland, Florida-based
                                    company has been named a global Platinum Award for Elite Performance winner for
                                    Garmin aviation products. </p>
                                <a href="" class="primary-link font-weight-bold">read more</a>
                            </div>
                            <div class="col-lg-4 col-sm-6 mb-md-7 mb-6 text-sm-center text-left item">
                                <a href="" class="primary-link d-inline-block mb-3 font-weight-bold">GULF COAST AVIONICS
                                    RECEIVES THE PRESTIGIOUS 2019 GARMIN PLATINUM AWARD FOR ELITE PERFORMANCE</a>
                                <p class="mb-md-4 mb-3">Monday, February 3, 2020</p>
                                <p class="mb-2">The all-Garmin panel upgrade features dual G600 TXi touchscreen
                                    displays, dual GTN 750s, and ADS-B Out/In compliance, which deliver next-gen
                                    capabilities, and safety to the EMS operated King Air.</p>
                                <a href="" class="primary-link font-weight-bold">read more</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="news-archive d-none">
    <div class="container">
        <div class="section-content">
            <div class="row">
                <div class="col-lg-10 mx-auto">
                    <div class="news-content">
                        <h1
                            class="h4 line-height-lg font-weight-normal letter-spacing text-uppercase text-primary mb-3 f-open letter-spacing-normal">
                            GULF COAST AVIONICS
                            RECEIVES THE PRESTIGIOUS 2019 GARMIN PLATINUM AWARD FOR ELITE PERFORMANCE</h1>
                        <p class="mb-md-5 mb-4">Wednesday, December 2, 2020</p>
                        <p>Rick Garcia, President, Gulf Coast Avionics, announced today that the company had received
                            Garmin’s 2019 <em>Platinum Award for Elite Performance</em> for the 25<sup>th</sup>
                            consecutive year.</p>
                        <p>“Even though we have received this prestigious award each of the past 25-years, every time we
                            receive the plaque, it becomes an even more special reason to celebrate the achievement,”
                            Rick said. “Knowing that we are among the very top sales performers out of Garmin’s
                            1,000-plus global dealers, makes receiving the award that much more special.”</p>
                        <p>Rick said that Garmin’s wide array of products is one of the main reasons Gulf Coast Avionics
                            continues its hold its place as a sales leader among all of Garmin’s global dealers.</p>
                        <p>“With products ranging from smartwatches to a broad selection of advanced avionics for
                            experimental and certified aircraft, Garmin’s product line continues to be the preferred
                            solution for so many of our customers,” he said. “When you put Garmin’s array of products in
                            the hands of our talented installers and fabricators, the combination helps to make Gulf
                            Coast Avionics the go-to shop for so many pilots and aircraft owners and builders.”</p>
                        <p>“Garmin takes great pride in its products, and everyone here at Gulf Coast Avionics takes
                            equal pride in representing these outstanding products to our wide customer base,” he added.
                            “With the way Garmin product line continues to set the standard for avionics performance,
                            capabilities and value, we’re well on our way to making it 26 wins in a row.”</p>
                        <p>&nbsp;</p>
                    </div>
                    <div class="article-pagination mt-md-5 mt-3"><a href=""
                            class="back text-left d-md-none d-inline-block font-size-ex-lg font-weight-bold f-open text-primary pb-2 border-bottom w-100">View
                            All</a>
                        <div class="link-section position-relative pt-md-0 pt-2 row">
                            <div class="col-md-5 col-6 text-left"><a href="/blogs/news/power-to-the-ipad"
                                    class="back font-size-ex-lg font-weight-bold f-open text-primary equal-class">Previous
                                    News</a></div> <a href="/blogs/news"
                                class="back text-center col-md-2 d-md-inline-block d-none font-size-ex-lg font-weight-bold f-open text-primary equal-class">View
                                All</a>
                            <div class="col-md-5 col-6 text-right "><a
                                    href="/blogs/news/welcome-to-2021-the-year-of-general-aviation"
                                    class="back font-size-ex-lg font-weight-bold f-open text-primary equal-class"> Next
                                    News</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>