<div class="page-banner">
    <img src="//cdn.shopify.com/s/files/1/0541/8313/3361/files/txi-panel_a1d67c54-cb77-4f5b-b71a-f2ddd821ff2c.jpg" class="mw-100 img-wrapper">
</div>

<div class="pt-7 pt-md-10">
    <div class="container">
        <h1 class="font-weight-bold letter-spacing text-uppercase text-primary mb-3 mb-md-6 text-center">TRADE SHOWS</h1>

        <div class="row">
            <div class="col-md-10 mx-auto text-center mb-9">
                <p class="font-size-lg font-weight-bold mb-5">Gulf Coast Avionics invites you to visit us as we take our showroom on the road.</p>
                <div class="row justify-content-center">
                    <div class="col-sm-5 text-center mb-4 mb-sm-0">
                        <img src="//cdn.shopify.com/s/files/1/0541/8313/3361/files/gca_osh1.jpg" class="mw-100">
                    </div>
                    <div class="col-sm-5 text-center">
                        <img src="//cdn.shopify.com/s/files/1/0541/8313/3361/files/gca_osh1.jpg" class="mw-100">
                    </div>
                </div>

                <h4 class="font-weight-normal letter-spacing-2 mt-7 mb-5">YOU CAN SEE GULF COAST AVIONICS AT THE FOLLOWING UPCOMING EVENTS:</h4>

                <div class="text-left border-top py-5">
                    <p class="mb-0">April 13 - April 18, 2021 — <b>Sun 'N Fun 2021</b>, Lakeland Linder International Airport, Lakeland, FL. For over 45 years the annual Sun 'n Fun Fly-In has brought together enthusiasts from all over the world, and from all segments of the aviation community to enjoy the best fly-in experience ever. Sun 'n Fun is the second largest fly-in event in the world offering workshops, forums and plenty of hands-on experience in addition to a wide array of aircraft.
                    <br>For more information <a href="#" class="font-weight-bold text-primary">visit http://www.flysnf.org/</a></p>
                </div>

                <div class="text-left border-top py-5">
                    <p class="mb-0">April 13 - April 18, 2021 — <b>Sun 'N Fun 2021</b>, Lakeland Linder International Airport, Lakeland, FL. For over 45 years the annual Sun 'n Fun Fly-In has brought together enthusiasts from all over the world, and from all segments of the aviation community to enjoy the best fly-in experience ever. Sun 'n Fun is the second largest fly-in event in the world offering workshops, forums and plenty of hands-on experience in addition to a wide array of aircraft.
                    <br>For more information <a href="#" class="font-weight-bold text-primary">visit http://www.flysnf.org/</a></p>
                </div>

            </div>
        </div>

    </div>
</div>