<div id="shopify-section-index-header-slider" class="shopify-section"><section data-section-id="index-header-slider" class="header-slider bg-gray-100"><div role="tree" data-header-slider="" data-flickity="{
          &quot;adaptiveHeight&quot;: true,
          &quot;contain&quot;: true,
          &quot;fade&quot;: true,
          &quot;lazyLoad&quot;: true,
          &quot;autoPlay&quot;: true,
          &quot;wrapAround&quot;: false,
          &quot;groupCell&quot;: false,
          &quot;prevNextButtons&quot;: false,
          &quot;pageDots&quot;: true,
          &quot;autoPlay&quot;: 7000,
          &quot;arrowShape&quot;: {&quot;x0&quot;: 10, &quot;x1&quot;: 60, &quot;y1&quot;: 50, &quot;x2&quot;: 60, &quot;y2&quot;: 45, &quot;x3&quot;: 15}
        }" class="carousel carousel-desktop autoheight d-none d-sm-block flickity-enabled is-draggable" tabindex="0">  <a href="#" role="treeitem" data-block-id="c709fd1e-baef-421c-8206-e9ee2966e80b" data-slide-type="image" class="carousel-cell d-flex align-items-center justify-content-center w-100 bg-dark is-selected" style="position: absolute; left: 0%;"><img data-sizes="auto" src="//cdn.shopify.com/s/files/1/0541/8313/3361/files/GCA-Holiday-Shipping-Slider_small.jpg?v=1636989252" data-srcset="
                  //cdn.shopify.com/s/files/1/0541/8313/3361/files/GCA-Holiday-Shipping-Slider_768x.jpg?v=1636989252 567w,
                  //cdn.shopify.com/s/files/1/0541/8313/3361/files/GCA-Holiday-Shipping-Slider_992x.jpg?v=1636989252 768w,
                  //cdn.shopify.com/s/files/1/0541/8313/3361/files/GCA-Holiday-Shipping-Slider_1200x.jpg?v=1636989252 992w,
                  //cdn.shopify.com/s/files/1/0541/8313/3361/files/GCA-Holiday-Shipping-Slider_1920x.jpg?v=1636989252 1200w,
                  //cdn.shopify.com/s/files/1/0541/8313/3361/files/GCA-Holiday-Shipping-Slider_2560x.jpg?v=1636989252 1920w,
                  //cdn.shopify.com/s/files/1/0541/8313/3361/files/GCA-Holiday-Shipping-Slider_3840x.jpg?v=1636989252 1921w,
                  //cdn.shopify.com/s/files/1/0541/8313/3361/files/GCA-Holiday-Shipping-Slider_5120x.jpg?v=1636989252 2560w
                  " alt="Gulf Coast Avionics" class="img-fluid lazyautosizes ls-is-cached lazyloaded" sizes="1952px" srcset="
                  //cdn.shopify.com/s/files/1/0541/8313/3361/files/GCA-Holiday-Shipping-Slider_768x.jpg?v=1636989252 567w,
                  //cdn.shopify.com/s/files/1/0541/8313/3361/files/GCA-Holiday-Shipping-Slider_992x.jpg?v=1636989252 768w,
                  //cdn.shopify.com/s/files/1/0541/8313/3361/files/GCA-Holiday-Shipping-Slider_1200x.jpg?v=1636989252 992w,
                  //cdn.shopify.com/s/files/1/0541/8313/3361/files/GCA-Holiday-Shipping-Slider_1920x.jpg?v=1636989252 1200w,
                  //cdn.shopify.com/s/files/1/0541/8313/3361/files/GCA-Holiday-Shipping-Slider_2560x.jpg?v=1636989252 1920w,
                  //cdn.shopify.com/s/files/1/0541/8313/3361/files/GCA-Holiday-Shipping-Slider_3840x.jpg?v=1636989252 1921w,
                  //cdn.shopify.com/s/files/1/0541/8313/3361/files/GCA-Holiday-Shipping-Slider_5120x.jpg?v=1636989252 2560w
                  "></a><a href="/products/bravo-throttle-quadrant " role="treeitem" data-block-id="1512636537154" data-slide-type="image" class="carousel-cell d-flex align-items-center justify-content-center w-100 bg-dark" style="position: absolute; left: 100%;" aria-hidden="true"><img data-sizes="auto" src="//cdn.shopify.com/s/files/1/0541/8313/3361/files/GCA-PCA-Bravo_small.jpg?v=1637328245" data-srcset="
                  //cdn.shopify.com/s/files/1/0541/8313/3361/files/GCA-PCA-Bravo_768x.jpg?v=1637328245 567w,
                  //cdn.shopify.com/s/files/1/0541/8313/3361/files/GCA-PCA-Bravo_992x.jpg?v=1637328245 768w,
                  //cdn.shopify.com/s/files/1/0541/8313/3361/files/GCA-PCA-Bravo_1200x.jpg?v=1637328245 992w,
                  //cdn.shopify.com/s/files/1/0541/8313/3361/files/GCA-PCA-Bravo_1920x.jpg?v=1637328245 1200w,
                  //cdn.shopify.com/s/files/1/0541/8313/3361/files/GCA-PCA-Bravo_2560x.jpg?v=1637328245 1920w,
                  //cdn.shopify.com/s/files/1/0541/8313/3361/files/GCA-PCA-Bravo_3840x.jpg?v=1637328245 1921w,
                  //cdn.shopify.com/s/files/1/0541/8313/3361/files/GCA-PCA-Bravo_5120x.jpg?v=1637328245 2560w
                  " alt="Gulf Coast Avionics" class="img-fluid lazyautosizes ls-is-cached lazyloaded" sizes="1952px" srcset="
                  //cdn.shopify.com/s/files/1/0541/8313/3361/files/GCA-PCA-Bravo_768x.jpg?v=1637328245 567w,
                  //cdn.shopify.com/s/files/1/0541/8313/3361/files/GCA-PCA-Bravo_992x.jpg?v=1637328245 768w,
                  //cdn.shopify.com/s/files/1/0541/8313/3361/files/GCA-PCA-Bravo_1200x.jpg?v=1637328245 992w,
                  //cdn.shopify.com/s/files/1/0541/8313/3361/files/GCA-PCA-Bravo_1920x.jpg?v=1637328245 1200w,
                  //cdn.shopify.com/s/files/1/0541/8313/3361/files/GCA-PCA-Bravo_2560x.jpg?v=1637328245 1920w,
                  //cdn.shopify.com/s/files/1/0541/8313/3361/files/GCA-PCA-Bravo_3840x.jpg?v=1637328245 1921w,
                  //cdn.shopify.com/s/files/1/0541/8313/3361/files/GCA-PCA-Bravo_5120x.jpg?v=1637328245 2560w
                  "></a><a href="/products/a20-aviation-headset " role="treeitem" data-block-id="e0f51d32-eda4-4cb7-872c-22f256704231" data-slide-type="image" class="carousel-cell d-flex align-items-center justify-content-center w-100 bg-dark" style="position: absolute; left: 200%;" aria-hidden="true"><img data-sizes="auto" src="//cdn.shopify.com/s/files/1/0541/8313/3361/files/GCA-PCA-BoseA20_small.jpg?v=1637328342" data-srcset="
                  //cdn.shopify.com/s/files/1/0541/8313/3361/files/GCA-PCA-BoseA20_768x.jpg?v=1637328342 567w,
                  //cdn.shopify.com/s/files/1/0541/8313/3361/files/GCA-PCA-BoseA20_992x.jpg?v=1637328342 768w,
                  //cdn.shopify.com/s/files/1/0541/8313/3361/files/GCA-PCA-BoseA20_1200x.jpg?v=1637328342 992w,
                  //cdn.shopify.com/s/files/1/0541/8313/3361/files/GCA-PCA-BoseA20_1920x.jpg?v=1637328342 1200w,
                  //cdn.shopify.com/s/files/1/0541/8313/3361/files/GCA-PCA-BoseA20_2560x.jpg?v=1637328342 1920w,
                  //cdn.shopify.com/s/files/1/0541/8313/3361/files/GCA-PCA-BoseA20_3840x.jpg?v=1637328342 1921w,
                  //cdn.shopify.com/s/files/1/0541/8313/3361/files/GCA-PCA-BoseA20_5120x.jpg?v=1637328342 2560w
                  " alt="Gulf Coast Avionics" class="img-fluid lazyautosizes lazyloaded" sizes="1952px" srcset="
                  //cdn.shopify.com/s/files/1/0541/8313/3361/files/GCA-PCA-BoseA20_768x.jpg?v=1637328342 567w,
                  //cdn.shopify.com/s/files/1/0541/8313/3361/files/GCA-PCA-BoseA20_992x.jpg?v=1637328342 768w,
                  //cdn.shopify.com/s/files/1/0541/8313/3361/files/GCA-PCA-BoseA20_1200x.jpg?v=1637328342 992w,
                  //cdn.shopify.com/s/files/1/0541/8313/3361/files/GCA-PCA-BoseA20_1920x.jpg?v=1637328342 1200w,
                  //cdn.shopify.com/s/files/1/0541/8313/3361/files/GCA-PCA-BoseA20_2560x.jpg?v=1637328342 1920w,
                  //cdn.shopify.com/s/files/1/0541/8313/3361/files/GCA-PCA-BoseA20_3840x.jpg?v=1637328342 1921w,
                  //cdn.shopify.com/s/files/1/0541/8313/3361/files/GCA-PCA-BoseA20_5120x.jpg?v=1637328342 2560w
                  "></a><a href="/products/gps-175-kit " role="treeitem" data-block-id="9e802d36-e245-470d-8e17-ba8f8d709ecd" data-slide-type="image" class="carousel-cell d-flex align-items-center justify-content-center w-100 bg-dark" style="position: absolute; left: 300%;" aria-hidden="true"><img data-sizes="auto" src="//cdn.shopify.com/s/files/1/0541/8313/3361/files/GCA-PCA-Yaesu850L_small.jpg?v=1637328392" data-srcset="
                  //cdn.shopify.com/s/files/1/0541/8313/3361/files/GCA-PCA-Yaesu850L_768x.jpg?v=1637328392 567w,
                  //cdn.shopify.com/s/files/1/0541/8313/3361/files/GCA-PCA-Yaesu850L_992x.jpg?v=1637328392 768w,
                  //cdn.shopify.com/s/files/1/0541/8313/3361/files/GCA-PCA-Yaesu850L_1200x.jpg?v=1637328392 992w,
                  //cdn.shopify.com/s/files/1/0541/8313/3361/files/GCA-PCA-Yaesu850L_1920x.jpg?v=1637328392 1200w,
                  //cdn.shopify.com/s/files/1/0541/8313/3361/files/GCA-PCA-Yaesu850L_2560x.jpg?v=1637328392 1920w,
                  //cdn.shopify.com/s/files/1/0541/8313/3361/files/GCA-PCA-Yaesu850L_3840x.jpg?v=1637328392 1921w,
                  //cdn.shopify.com/s/files/1/0541/8313/3361/files/GCA-PCA-Yaesu850L_5120x.jpg?v=1637328392 2560w
                  " alt="Gulf Coast Avionics" class="img-fluid lazyautosizes lazyloaded" sizes="1952px" srcset="
                  //cdn.shopify.com/s/files/1/0541/8313/3361/files/GCA-PCA-Yaesu850L_768x.jpg?v=1637328392 567w,
                  //cdn.shopify.com/s/files/1/0541/8313/3361/files/GCA-PCA-Yaesu850L_992x.jpg?v=1637328392 768w,
                  //cdn.shopify.com/s/files/1/0541/8313/3361/files/GCA-PCA-Yaesu850L_1200x.jpg?v=1637328392 992w,
                  //cdn.shopify.com/s/files/1/0541/8313/3361/files/GCA-PCA-Yaesu850L_1920x.jpg?v=1637328392 1200w,
                  //cdn.shopify.com/s/files/1/0541/8313/3361/files/GCA-PCA-Yaesu850L_2560x.jpg?v=1637328392 1920w,
                  //cdn.shopify.com/s/files/1/0541/8313/3361/files/GCA-PCA-Yaesu850L_3840x.jpg?v=1637328392 1921w,
                  //cdn.shopify.com/s/files/1/0541/8313/3361/files/GCA-PCA-Yaesu850L_5120x.jpg?v=1637328392 2560w
                  "></a></div></div><ol class="flickity-page-dots"><li class="dot is-selected" aria-label="Page dot 1" aria-current="step"></li><li class="dot" aria-label="Page dot 2"></li><li class="dot" aria-label="Page dot 3"></li><li class="dot" aria-label="Page dot 4"></li></ol></div></section><section class="online-catalog mt-2"><div class="row no-gutters bg-gray-200 text-right"><div class="col-ex-lg-7"><div class="left-content text-md-left text-center d-md-flex align-items-center position-relative py-4 pr-ex-lg-8 justify-content-ex-lg-end justify-content-center zindex-sticky"><div class="d-flex align-items-center justify-content-md-start justify-content-center mr-md-3 mb-md-0 mb-3"><i class="fas fa-shipping-fast pr-2 font-size-lg" aria-hidden="true"></i> <span class="font-weight-bold font-size-md">Over $100 = free ground shipping</span></div><div class="d-flex align-items-center justify-content-md-start justify-content-center mr-md-3 mb-md-0 mb-3"><i class="fas fa-dollar-sign pr-2 font-size-lg" aria-hidden="true"></i> <a href="/pages/cash-for-used-avionics" class="px-xxl-2 border-bottom border-gray-700 text-gray-700 font-weight-bold font-size-md">Get Cash for Used Avionics</a></div><div class="d-flex align-items-center justify-content-md-start justify-content-center mr-md-3 mb-md-0 mb-3"><i class="fas fa-search-dollar pr-2 font-size-lg" aria-hidden="true"></i> <a href="/pages/current-rebates" class="px-xxl-2 border-bottom border-gray-700 text-gray-700 font-weight-bold font-size-md">Current Special/Rebates</a></div></div></div> <div class="col-ex-lg-5"><div class="py-4 pl-ex-lg-10 text-ex-lg-left text-center view-catalog position-relative zindex-sticky"><div class="position-relative mobile-position"><a href="/pages/free-catalog" class="text-white font-weight-bold">View Our Online Catalog<img src="//cdn.shopify.com/s/files/1/0541/8313/3361/files/gca-catalog-closeup_952b268b-09ba-455d-9e4c-7b9fc8ed1df4_200x.png?v=1620831727" data-src="//cdn.shopify.com/s/files/1/0541/8313/3361/files/gca-catalog-closeup_952b268b-09ba-455d-9e4c-7b9fc8ed1df4_200x.png?v=1620831727" alt="View Our Online Catalog" class="position-absolute ls-is-cached lazyloaded"></a></div></div></div></div></section></div>

<div id="shopify-section-1511810149210" class="shopify-section index-featured-collectiion"><section data-section-id="1511810149210" data-grid-type="grid" class="section-content pb-0" style="background-color: rgb(255, 255, 255); color: rgb(52, 58, 64);"><div class="container"><div class="row"><div class="col-12 text-center"><div class="row mb-md-8 mb-4"><div class="col-md-8 mx-auto position-relative"><h2 class="section-title d-inline-block mb-0 text-primary text-uppercase letter-spacing font-weight-normal px-lg-6 px-4 bg-white zindex-sticky position-relative">Featured Products</h2> <span class="d-md-block d-none w-100 border-bottom border-primary position-absolute top-left-50" style="border-width: 3px !important;"></span></div></div></div></div> <div data-carousel-main="" data-flickity="{
        &quot;adaptiveHeight&quot;: false,
        &quot;contain&quot;: true,
        &quot;cellAlign&quot;: &quot;left&quot;,
        &quot;wrapAround&quot;: true,
        &quot;prevNextButtons&quot;: true,
        &quot;pageDots&quot;: false,
        &quot;groupCells&quot; : &quot;100%&quot;,
        &quot;lazyLoad&quot;: true,
        &quot;arrowShape&quot;:  {&quot;x0&quot;: 10, &quot;x1&quot;: 60, &quot;y1&quot;: 50, &quot;x2&quot;: 70, &quot;y2&quot;: 40, &quot;x3&quot;: 30}
      }" class="row justify-content-center featured-products flickity-enabled is-draggable" tabindex="0">       <div class="flickity-viewport" style="height: 354px; touch-action: pan-y;"><div class="flickity-slider" style="left: 0px; transform: translateX(-133.33%);"><div class="col-6 col-md-3 col-ex-lg-2 my-3 d-flex align-items-stretch justify-content-center is-selected" style="position: absolute; left: 133.33%;"><div class="card card-product card-product-style-1 text-left border-0 shadow-none"><span class="badges"></span> <div class="card-img text-center "><a href="/collections/featured-products/products/aerocruze-100"><div class="category-image position-relative padding-top-88"><img data-sizes="auto" src="//cdn.shopify.com/s/files/1/0541/8313/3361/products/BK-DSC_7388-Edit-BK_1920x_9685009d-4ea4-4314-857e-de55f807f9ca_pico.png?v=1637341817" data-srcset="
                  //cdn.shopify.com/s/files/1/0541/8313/3361/products/BK-DSC_7388-Edit-BK_1920x_9685009d-4ea4-4314-857e-de55f807f9ca_400x.png?v=1637341817 320w,
                  //cdn.shopify.com/s/files/1/0541/8313/3361/products/BK-DSC_7388-Edit-BK_1920x_9685009d-4ea4-4314-857e-de55f807f9ca_550x.png?v=1637341817 468w,
                  //cdn.shopify.com/s/files/1/0541/8313/3361/products/BK-DSC_7388-Edit-BK_1920x_9685009d-4ea4-4314-857e-de55f807f9ca_650x.png?v=1637341817 576w,
                  //cdn.shopify.com/s/files/1/0541/8313/3361/products/BK-DSC_7388-Edit-BK_1920x_9685009d-4ea4-4314-857e-de55f807f9ca_980x.png?v=1637341817 768w,
                  //cdn.shopify.com/s/files/1/0541/8313/3361/products/BK-DSC_7388-Edit-BK_1920x_9685009d-4ea4-4314-857e-de55f807f9ca_1100x.png?v=1637341817 992w,
                  //cdn.shopify.com/s/files/1/0541/8313/3361/products/BK-DSC_7388-Edit-BK_1920x_9685009d-4ea4-4314-857e-de55f807f9ca_1350x.png?v=1637341817 1200w,
                  //cdn.shopify.com/s/files/1/0541/8313/3361/products/BK-DSC_7388-Edit-BK_1920x_9685009d-4ea4-4314-857e-de55f807f9ca_1600x.png?v=1637341817 1400w
                  " alt="Bendix King AeroCruze 100" class="position-absolute img-wrapper top-left-50 img-object-contain lazyautosizes ls-is-cached lazyloaded" sizes="200px" srcset="
                  //cdn.shopify.com/s/files/1/0541/8313/3361/products/BK-DSC_7388-Edit-BK_1920x_9685009d-4ea4-4314-857e-de55f807f9ca_400x.png?v=1637341817 320w,
                  //cdn.shopify.com/s/files/1/0541/8313/3361/products/BK-DSC_7388-Edit-BK_1920x_9685009d-4ea4-4314-857e-de55f807f9ca_550x.png?v=1637341817 468w,
                  //cdn.shopify.com/s/files/1/0541/8313/3361/products/BK-DSC_7388-Edit-BK_1920x_9685009d-4ea4-4314-857e-de55f807f9ca_650x.png?v=1637341817 576w,
                  //cdn.shopify.com/s/files/1/0541/8313/3361/products/BK-DSC_7388-Edit-BK_1920x_9685009d-4ea4-4314-857e-de55f807f9ca_980x.png?v=1637341817 768w,
                  //cdn.shopify.com/s/files/1/0541/8313/3361/products/BK-DSC_7388-Edit-BK_1920x_9685009d-4ea4-4314-857e-de55f807f9ca_1100x.png?v=1637341817 992w,
                  //cdn.shopify.com/s/files/1/0541/8313/3361/products/BK-DSC_7388-Edit-BK_1920x_9685009d-4ea4-4314-857e-de55f807f9ca_1350x.png?v=1637341817 1200w,
                  //cdn.shopify.com/s/files/1/0541/8313/3361/products/BK-DSC_7388-Edit-BK_1920x_9685009d-4ea4-4314-857e-de55f807f9ca_1600x.png?v=1637341817 1400w
                  "></div></a></div> <div class="card-body px-0 pb-0" style="height: 150px;"><div class="row text-center"><div class="col-12"><h5 class="vender font-weight-bold text-gray-700 text-uppercase mb-2 f-open letter-spacing-normal"><a href="/collections/vendors?q=BENDIXKING" title="BENDIXKING">BENDIXKING</a></h5><a href="/collections/featured-products/products/aerocruze-100" class="card-title mb-3">Bendix King AeroCruze 100</a></div> <div class="col-12"><span data-product-id="6599952924849" class="price m-0 p-0 h6 text-primary font-weight-bold f-open money">
          
            $4,975.00
          
        </span></div></div></div></div></div><div class="col-6 col-md-3 col-ex-lg-2 my-3 d-flex align-items-stretch justify-content-center is-selected" style="position: absolute; left: 150%;"><div class="card card-product card-product-style-1 text-left border-0 shadow-none"><span class="badges"></span> <div class="card-img text-center "><a href="/collections/featured-products/products/a20-aviation-headset"><div class="category-image position-relative padding-top-88"><img data-sizes="auto" src="//cdn.shopify.com/s/files/1/0541/8313/3361/products/bose-a20-bluetoooth_pico.jpg?v=1635802289" data-srcset="
                  //cdn.shopify.com/s/files/1/0541/8313/3361/products/bose-a20-bluetoooth_400x.jpg?v=1635802289 320w,
                  //cdn.shopify.com/s/files/1/0541/8313/3361/products/bose-a20-bluetoooth_550x.jpg?v=1635802289 468w,
                  //cdn.shopify.com/s/files/1/0541/8313/3361/products/bose-a20-bluetoooth_650x.jpg?v=1635802289 576w,
                  //cdn.shopify.com/s/files/1/0541/8313/3361/products/bose-a20-bluetoooth_980x.jpg?v=1635802289 768w,
                  //cdn.shopify.com/s/files/1/0541/8313/3361/products/bose-a20-bluetoooth_1100x.jpg?v=1635802289 992w,
                  //cdn.shopify.com/s/files/1/0541/8313/3361/products/bose-a20-bluetoooth_1350x.jpg?v=1635802289 1200w,
                  //cdn.shopify.com/s/files/1/0541/8313/3361/products/bose-a20-bluetoooth_1600x.jpg?v=1635802289 1400w
                  " alt="A20 Aviation Headset With Bluetooth" class="position-absolute img-wrapper top-left-50 img-object-contain lazyautosizes ls-is-cached lazyloaded" sizes="200px" srcset="
                  //cdn.shopify.com/s/files/1/0541/8313/3361/products/bose-a20-bluetoooth_400x.jpg?v=1635802289 320w,
                  //cdn.shopify.com/s/files/1/0541/8313/3361/products/bose-a20-bluetoooth_550x.jpg?v=1635802289 468w,
                  //cdn.shopify.com/s/files/1/0541/8313/3361/products/bose-a20-bluetoooth_650x.jpg?v=1635802289 576w,
                  //cdn.shopify.com/s/files/1/0541/8313/3361/products/bose-a20-bluetoooth_980x.jpg?v=1635802289 768w,
                  //cdn.shopify.com/s/files/1/0541/8313/3361/products/bose-a20-bluetoooth_1100x.jpg?v=1635802289 992w,
                  //cdn.shopify.com/s/files/1/0541/8313/3361/products/bose-a20-bluetoooth_1350x.jpg?v=1635802289 1200w,
                  //cdn.shopify.com/s/files/1/0541/8313/3361/products/bose-a20-bluetoooth_1600x.jpg?v=1635802289 1400w
                  "></div></a></div> <div class="card-body px-0 pb-0" style="height: 150px;"><div class="row text-center"><div class="col-12"><h5 class="vender font-weight-bold text-gray-700 text-uppercase mb-2 f-open letter-spacing-normal"><a href="/collections/vendors?q=BOSE" title="BOSE">BOSE</a></h5><a href="/collections/featured-products/products/a20-aviation-headset" class="card-title mb-3">A20 Aviation Headset With Bluetooth</a></div> <div class="col-12"><span data-product-id="6599902199985" class="price m-0 p-0 h6 text-primary font-weight-bold f-open money">
          
            $1,095.00
          
        </span></div></div></div></div></div><div class="col-6 col-md-3 col-ex-lg-2 my-3 d-flex align-items-stretch justify-content-center is-selected" style="position: absolute; left: 166.67%;"><div class="card card-product card-product-style-1 text-left border-0 shadow-none"><span class="badges"></span> <div class="card-img text-center "><a href="/collections/featured-products/products/fta-850l-air-band-handheld-vhf-transceiver-w-full-color-display"><div class="category-image position-relative padding-top-88"><img data-sizes="auto" src="//cdn.shopify.com/s/files/1/0541/8313/3361/products/FTA-850L_Front_Right_20210604-B_RGB_pico.jpg?v=1632255402" data-srcset="
                  //cdn.shopify.com/s/files/1/0541/8313/3361/products/FTA-850L_Front_Right_20210604-B_RGB_400x.jpg?v=1632255402 320w,
                  //cdn.shopify.com/s/files/1/0541/8313/3361/products/FTA-850L_Front_Right_20210604-B_RGB_550x.jpg?v=1632255402 468w,
                  //cdn.shopify.com/s/files/1/0541/8313/3361/products/FTA-850L_Front_Right_20210604-B_RGB_650x.jpg?v=1632255402 576w,
                  //cdn.shopify.com/s/files/1/0541/8313/3361/products/FTA-850L_Front_Right_20210604-B_RGB_980x.jpg?v=1632255402 768w,
                  //cdn.shopify.com/s/files/1/0541/8313/3361/products/FTA-850L_Front_Right_20210604-B_RGB_1100x.jpg?v=1632255402 992w,
                  //cdn.shopify.com/s/files/1/0541/8313/3361/products/FTA-850L_Front_Right_20210604-B_RGB_1350x.jpg?v=1632255402 1200w,
                  //cdn.shopify.com/s/files/1/0541/8313/3361/products/FTA-850L_Front_Right_20210604-B_RGB_1600x.jpg?v=1632255402 1400w
                  " alt="FTA-850L Air-Band Handheld VHF Transceiver w/ Full-Color Display" class="position-absolute img-wrapper top-left-50 img-object-contain lazyautosizes ls-is-cached lazyloaded" sizes="200px" srcset="
                  //cdn.shopify.com/s/files/1/0541/8313/3361/products/FTA-850L_Front_Right_20210604-B_RGB_400x.jpg?v=1632255402 320w,
                  //cdn.shopify.com/s/files/1/0541/8313/3361/products/FTA-850L_Front_Right_20210604-B_RGB_550x.jpg?v=1632255402 468w,
                  //cdn.shopify.com/s/files/1/0541/8313/3361/products/FTA-850L_Front_Right_20210604-B_RGB_650x.jpg?v=1632255402 576w,
                  //cdn.shopify.com/s/files/1/0541/8313/3361/products/FTA-850L_Front_Right_20210604-B_RGB_980x.jpg?v=1632255402 768w,
                  //cdn.shopify.com/s/files/1/0541/8313/3361/products/FTA-850L_Front_Right_20210604-B_RGB_1100x.jpg?v=1632255402 992w,
                  //cdn.shopify.com/s/files/1/0541/8313/3361/products/FTA-850L_Front_Right_20210604-B_RGB_1350x.jpg?v=1632255402 1200w,
                  //cdn.shopify.com/s/files/1/0541/8313/3361/products/FTA-850L_Front_Right_20210604-B_RGB_1600x.jpg?v=1632255402 1400w
                  "></div></a></div> <div class="card-body px-0 pb-0" style="height: 150px;"><div class="row text-center"><div class="col-12"><h5 class="vender font-weight-bold text-gray-700 text-uppercase mb-2 f-open letter-spacing-normal"><a href="/collections/vendors?q=YAESU" title="YAESU">YAESU</a></h5><a href="/collections/featured-products/products/fta-850l-air-band-handheld-vhf-transceiver-w-full-color-display" class="card-title mb-3">FTA-850L Air-Band Handheld VHF Transceiver w/ Full-Color Display</a></div> <div class="col-12"><span data-product-id="6972336046257" class="price m-0 p-0 h6 text-primary font-weight-bold f-open money">
          
            $449.00
          
        </span></div></div></div></div></div><div class="col-6 col-md-3 col-ex-lg-2 my-3 d-flex align-items-stretch justify-content-center is-selected" style="position: absolute; left: 183.33%;"><div class="card card-product card-product-style-1 text-left border-0 shadow-none"><span class="badges"></span> <div class="card-img text-center "><a href="/collections/featured-products/products/zulu-3-anr-headset"><div class="category-image position-relative padding-top-88"><img data-sizes="auto" src="//cdn.shopify.com/s/files/1/0541/8313/3361/products/zulu3_3-4view_353fc2bd-7b82-4807-9984-75f3fa3e6653_pico.jpg?v=1623773170" data-srcset="
                  //cdn.shopify.com/s/files/1/0541/8313/3361/products/zulu3_3-4view_353fc2bd-7b82-4807-9984-75f3fa3e6653_400x.jpg?v=1623773170 320w,
                  //cdn.shopify.com/s/files/1/0541/8313/3361/products/zulu3_3-4view_353fc2bd-7b82-4807-9984-75f3fa3e6653_550x.jpg?v=1623773170 468w,
                  //cdn.shopify.com/s/files/1/0541/8313/3361/products/zulu3_3-4view_353fc2bd-7b82-4807-9984-75f3fa3e6653_650x.jpg?v=1623773170 576w,
                  //cdn.shopify.com/s/files/1/0541/8313/3361/products/zulu3_3-4view_353fc2bd-7b82-4807-9984-75f3fa3e6653_980x.jpg?v=1623773170 768w,
                  //cdn.shopify.com/s/files/1/0541/8313/3361/products/zulu3_3-4view_353fc2bd-7b82-4807-9984-75f3fa3e6653_1100x.jpg?v=1623773170 992w,
                  //cdn.shopify.com/s/files/1/0541/8313/3361/products/zulu3_3-4view_353fc2bd-7b82-4807-9984-75f3fa3e6653_1350x.jpg?v=1623773170 1200w,
                  //cdn.shopify.com/s/files/1/0541/8313/3361/products/zulu3_3-4view_353fc2bd-7b82-4807-9984-75f3fa3e6653_1600x.jpg?v=1623773170 1400w
                  " alt="Lightspeed Zulu 3" class="position-absolute img-wrapper top-left-50 img-object-contain lazyautosizes ls-is-cached lazyloaded" sizes="200px" srcset="
                  //cdn.shopify.com/s/files/1/0541/8313/3361/products/zulu3_3-4view_353fc2bd-7b82-4807-9984-75f3fa3e6653_400x.jpg?v=1623773170 320w,
                  //cdn.shopify.com/s/files/1/0541/8313/3361/products/zulu3_3-4view_353fc2bd-7b82-4807-9984-75f3fa3e6653_550x.jpg?v=1623773170 468w,
                  //cdn.shopify.com/s/files/1/0541/8313/3361/products/zulu3_3-4view_353fc2bd-7b82-4807-9984-75f3fa3e6653_650x.jpg?v=1623773170 576w,
                  //cdn.shopify.com/s/files/1/0541/8313/3361/products/zulu3_3-4view_353fc2bd-7b82-4807-9984-75f3fa3e6653_980x.jpg?v=1623773170 768w,
                  //cdn.shopify.com/s/files/1/0541/8313/3361/products/zulu3_3-4view_353fc2bd-7b82-4807-9984-75f3fa3e6653_1100x.jpg?v=1623773170 992w,
                  //cdn.shopify.com/s/files/1/0541/8313/3361/products/zulu3_3-4view_353fc2bd-7b82-4807-9984-75f3fa3e6653_1350x.jpg?v=1623773170 1200w,
                  //cdn.shopify.com/s/files/1/0541/8313/3361/products/zulu3_3-4view_353fc2bd-7b82-4807-9984-75f3fa3e6653_1600x.jpg?v=1623773170 1400w
                  "></div></a></div> <div class="card-body px-0 pb-0" style="height: 150px;"><div class="row text-center"><div class="col-12"><h5 class="vender font-weight-bold text-gray-700 text-uppercase mb-2 f-open letter-spacing-normal"><a href="/collections/vendors?q=LIGHTSPEED" title="LIGHTSPEED">LIGHTSPEED</a></h5><a href="/collections/featured-products/products/zulu-3-anr-headset" class="card-title mb-3">Lightspeed Zulu 3</a></div> <div class="col-12"><span data-product-id="6599934574769" class="price m-0 p-0 h6 text-primary font-weight-bold f-open money">
          
            $850.00
          
        </span></div></div></div></div></div><div class="col-6 col-md-3 col-ex-lg-2 my-3 d-flex align-items-stretch justify-content-center is-selected" style="position: absolute; left: 200%;"><div class="card card-product card-product-style-1 text-left border-0 shadow-none"><span class="badges"></span> <div class="card-img text-center "><a href="/collections/featured-products/products/g5-efis-for-certified-aircraft-with-lpm"><div class="category-image position-relative padding-top-88"><img data-sizes="auto" src="//cdn.shopify.com/s/files/1/0541/8313/3361/products/cf-lg_29_pico.jpg?v=1634847214" data-srcset="
                  //cdn.shopify.com/s/files/1/0541/8313/3361/products/cf-lg_29_400x.jpg?v=1634847214 320w,
                  //cdn.shopify.com/s/files/1/0541/8313/3361/products/cf-lg_29_550x.jpg?v=1634847214 468w,
                  //cdn.shopify.com/s/files/1/0541/8313/3361/products/cf-lg_29_650x.jpg?v=1634847214 576w,
                  //cdn.shopify.com/s/files/1/0541/8313/3361/products/cf-lg_29_980x.jpg?v=1634847214 768w,
                  //cdn.shopify.com/s/files/1/0541/8313/3361/products/cf-lg_29_1100x.jpg?v=1634847214 992w,
                  //cdn.shopify.com/s/files/1/0541/8313/3361/products/cf-lg_29_1350x.jpg?v=1634847214 1200w,
                  //cdn.shopify.com/s/files/1/0541/8313/3361/products/cf-lg_29_1600x.jpg?v=1634847214 1400w
                  " alt="Garmin G5 EFIS for Certified Aircraft with LPM" class="position-absolute img-wrapper top-left-50 img-object-contain lazyautosizes ls-is-cached lazyloaded" sizes="200px" srcset="
                  //cdn.shopify.com/s/files/1/0541/8313/3361/products/cf-lg_29_400x.jpg?v=1634847214 320w,
                  //cdn.shopify.com/s/files/1/0541/8313/3361/products/cf-lg_29_550x.jpg?v=1634847214 468w,
                  //cdn.shopify.com/s/files/1/0541/8313/3361/products/cf-lg_29_650x.jpg?v=1634847214 576w,
                  //cdn.shopify.com/s/files/1/0541/8313/3361/products/cf-lg_29_980x.jpg?v=1634847214 768w,
                  //cdn.shopify.com/s/files/1/0541/8313/3361/products/cf-lg_29_1100x.jpg?v=1634847214 992w,
                  //cdn.shopify.com/s/files/1/0541/8313/3361/products/cf-lg_29_1350x.jpg?v=1634847214 1200w,
                  //cdn.shopify.com/s/files/1/0541/8313/3361/products/cf-lg_29_1600x.jpg?v=1634847214 1400w
                  "></div></a></div> <div class="card-body px-0 pb-0" style="height: 150px;"><div class="row text-center"><div class="col-12"><h5 class="vender font-weight-bold text-gray-700 text-uppercase mb-2 f-open letter-spacing-normal"><a href="/collections/vendors?q=GARMIN" title="GARMIN">GARMIN</a></h5><a href="/collections/featured-products/products/g5-efis-for-certified-aircraft-with-lpm" class="card-title mb-3">Garmin G5 EFIS for Certified Aircraft with LPM</a></div> <div class="col-12"><span data-product-id="6599931691185" class="price m-0 p-0 h6 text-primary font-weight-bold f-open money">
          
            $2,345.00
          
        </span></div></div></div></div></div><div class="col-6 col-md-3 col-ex-lg-2 my-3 d-flex align-items-stretch justify-content-center is-selected" style="position: absolute; left: 216.67%;"><div class="card card-product card-product-style-1 text-left border-0 shadow-none"><span class="badges"><span class="badge badge-right badge-warning">
      On Sale
    </span></span> <div class="card-img text-center "><a href="/collections/featured-products/products/david-clark-h10-13s"><div class="category-image position-relative padding-top-88"><img data-sizes="auto" src="//cdn.shopify.com/s/files/1/0541/8313/3361/products/product_b5ece1b2-82da-479c-b2b3-a74d13a47029_pico.jpg?v=1635356993" data-srcset="
                  //cdn.shopify.com/s/files/1/0541/8313/3361/products/product_b5ece1b2-82da-479c-b2b3-a74d13a47029_400x.jpg?v=1635356993 320w,
                  //cdn.shopify.com/s/files/1/0541/8313/3361/products/product_b5ece1b2-82da-479c-b2b3-a74d13a47029_550x.jpg?v=1635356993 468w,
                  //cdn.shopify.com/s/files/1/0541/8313/3361/products/product_b5ece1b2-82da-479c-b2b3-a74d13a47029_650x.jpg?v=1635356993 576w,
                  //cdn.shopify.com/s/files/1/0541/8313/3361/products/product_b5ece1b2-82da-479c-b2b3-a74d13a47029_980x.jpg?v=1635356993 768w,
                  //cdn.shopify.com/s/files/1/0541/8313/3361/products/product_b5ece1b2-82da-479c-b2b3-a74d13a47029_1100x.jpg?v=1635356993 992w,
                  //cdn.shopify.com/s/files/1/0541/8313/3361/products/product_b5ece1b2-82da-479c-b2b3-a74d13a47029_1350x.jpg?v=1635356993 1200w,
                  //cdn.shopify.com/s/files/1/0541/8313/3361/products/product_b5ece1b2-82da-479c-b2b3-a74d13a47029_1600x.jpg?v=1635356993 1400w
                  " alt="David Clark h10-13s" class="position-absolute img-wrapper top-left-50 img-object-contain lazyautosizes ls-is-cached lazyloaded" sizes="200px" srcset="
                  //cdn.shopify.com/s/files/1/0541/8313/3361/products/product_b5ece1b2-82da-479c-b2b3-a74d13a47029_400x.jpg?v=1635356993 320w,
                  //cdn.shopify.com/s/files/1/0541/8313/3361/products/product_b5ece1b2-82da-479c-b2b3-a74d13a47029_550x.jpg?v=1635356993 468w,
                  //cdn.shopify.com/s/files/1/0541/8313/3361/products/product_b5ece1b2-82da-479c-b2b3-a74d13a47029_650x.jpg?v=1635356993 576w,
                  //cdn.shopify.com/s/files/1/0541/8313/3361/products/product_b5ece1b2-82da-479c-b2b3-a74d13a47029_980x.jpg?v=1635356993 768w,
                  //cdn.shopify.com/s/files/1/0541/8313/3361/products/product_b5ece1b2-82da-479c-b2b3-a74d13a47029_1100x.jpg?v=1635356993 992w,
                  //cdn.shopify.com/s/files/1/0541/8313/3361/products/product_b5ece1b2-82da-479c-b2b3-a74d13a47029_1350x.jpg?v=1635356993 1200w,
                  //cdn.shopify.com/s/files/1/0541/8313/3361/products/product_b5ece1b2-82da-479c-b2b3-a74d13a47029_1600x.jpg?v=1635356993 1400w
                  "></div></a></div> <div class="card-body px-0 pb-0" style="height: 150px;"><div class="row text-center"><div class="col-12"><h5 class="vender font-weight-bold text-gray-700 text-uppercase mb-2 f-open letter-spacing-normal"><a href="/collections/vendors?q=DAVID%20CLARK" title="DAVID CLARK">DAVID CLARK</a></h5><a href="/collections/featured-products/products/david-clark-h10-13s" class="card-title mb-3">David Clark h10-13s</a></div> <div class="col-12"><span data-product-id="6631725433009" class="price m-0 p-0 h6 text-primary font-weight-bold f-open money">
          
            
              $342.47
            
          
        </span></div></div></div></div></div><div class="col-6 col-md-3 col-ex-lg-2 my-3 d-flex align-items-stretch justify-content-center" aria-hidden="true" style="position: absolute; left: 100%;"><div class="card card-product card-product-style-1 text-left border-0 shadow-none"><span class="badges"></span> <div class="card-img text-center "><a href="/collections/featured-products/products/bravo-throttle-quadrant"><div class="category-image position-relative padding-top-88"><img data-sizes="auto" src="//cdn.shopify.com/s/files/1/0541/8313/3361/products/Bravo_pico.png?v=1616421277" data-srcset="
                  //cdn.shopify.com/s/files/1/0541/8313/3361/products/Bravo_400x.png?v=1616421277 320w,
                  //cdn.shopify.com/s/files/1/0541/8313/3361/products/Bravo_550x.png?v=1616421277 468w,
                  //cdn.shopify.com/s/files/1/0541/8313/3361/products/Bravo_650x.png?v=1616421277 576w,
                  //cdn.shopify.com/s/files/1/0541/8313/3361/products/Bravo_980x.png?v=1616421277 768w,
                  //cdn.shopify.com/s/files/1/0541/8313/3361/products/Bravo_1100x.png?v=1616421277 992w,
                  //cdn.shopify.com/s/files/1/0541/8313/3361/products/Bravo_1350x.png?v=1616421277 1200w,
                  //cdn.shopify.com/s/files/1/0541/8313/3361/products/Bravo_1600x.png?v=1616421277 1400w
                  " alt="Honeycomb Bravo Throttle Quadrant" class="position-absolute img-wrapper top-left-50 img-object-contain lazyautosizes ls-is-cached lazyloaded" sizes="200px" srcset="
                  //cdn.shopify.com/s/files/1/0541/8313/3361/products/Bravo_400x.png?v=1616421277 320w,
                  //cdn.shopify.com/s/files/1/0541/8313/3361/products/Bravo_550x.png?v=1616421277 468w,
                  //cdn.shopify.com/s/files/1/0541/8313/3361/products/Bravo_650x.png?v=1616421277 576w,
                  //cdn.shopify.com/s/files/1/0541/8313/3361/products/Bravo_980x.png?v=1616421277 768w,
                  //cdn.shopify.com/s/files/1/0541/8313/3361/products/Bravo_1100x.png?v=1616421277 992w,
                  //cdn.shopify.com/s/files/1/0541/8313/3361/products/Bravo_1350x.png?v=1616421277 1200w,
                  //cdn.shopify.com/s/files/1/0541/8313/3361/products/Bravo_1600x.png?v=1616421277 1400w
                  "></div></a></div> <div class="card-body px-0 pb-0" style="height: 150px;"><div class="row text-center"><div class="col-12"><h5 class="vender font-weight-bold text-gray-700 text-uppercase mb-2 f-open letter-spacing-normal"><a href="/collections/vendors?q=HONEYCOMB%20AERONAUTICAL" title="HONEYCOMB AERONAUTICAL">HONEYCOMB AERONAUTICAL</a></h5><a href="/collections/featured-products/products/bravo-throttle-quadrant" class="card-title mb-3">Honeycomb Bravo Throttle Quadrant</a></div> <div class="col-12"><span data-product-id="6599965212849" class="price m-0 p-0 h6 text-primary font-weight-bold f-open money">
          
            $279.99
          
        </span></div></div></div></div></div><div class="col-6 col-md-3 col-ex-lg-2 my-3 d-flex align-items-stretch justify-content-center" aria-hidden="true" style="position: absolute; left: 116.67%;"><div class="card card-product card-product-style-1 text-left border-0 shadow-none"><span class="badges"></span> <div class="card-img text-center "><a href="/collections/featured-products/products/gdl-50-ads-b-receiver"><div class="category-image position-relative padding-top-88"><img data-sizes="auto" src="//cdn.shopify.com/s/files/1/0541/8313/3361/products/cf-lg-35c90b4c-977b-42b8-8ab9-44ab5062acb2_pico.jpg?v=1634849068" data-srcset="
                  //cdn.shopify.com/s/files/1/0541/8313/3361/products/cf-lg-35c90b4c-977b-42b8-8ab9-44ab5062acb2_400x.jpg?v=1634849068 320w,
                  //cdn.shopify.com/s/files/1/0541/8313/3361/products/cf-lg-35c90b4c-977b-42b8-8ab9-44ab5062acb2_550x.jpg?v=1634849068 468w,
                  //cdn.shopify.com/s/files/1/0541/8313/3361/products/cf-lg-35c90b4c-977b-42b8-8ab9-44ab5062acb2_650x.jpg?v=1634849068 576w,
                  //cdn.shopify.com/s/files/1/0541/8313/3361/products/cf-lg-35c90b4c-977b-42b8-8ab9-44ab5062acb2_980x.jpg?v=1634849068 768w,
                  //cdn.shopify.com/s/files/1/0541/8313/3361/products/cf-lg-35c90b4c-977b-42b8-8ab9-44ab5062acb2_1100x.jpg?v=1634849068 992w,
                  //cdn.shopify.com/s/files/1/0541/8313/3361/products/cf-lg-35c90b4c-977b-42b8-8ab9-44ab5062acb2_1350x.jpg?v=1634849068 1200w,
                  //cdn.shopify.com/s/files/1/0541/8313/3361/products/cf-lg-35c90b4c-977b-42b8-8ab9-44ab5062acb2_1600x.jpg?v=1634849068 1400w
                  " alt="GDL 50" class="position-absolute img-wrapper top-left-50 img-object-contain lazyautosizes ls-is-cached lazyloaded" sizes="200px" srcset="
                  //cdn.shopify.com/s/files/1/0541/8313/3361/products/cf-lg-35c90b4c-977b-42b8-8ab9-44ab5062acb2_400x.jpg?v=1634849068 320w,
                  //cdn.shopify.com/s/files/1/0541/8313/3361/products/cf-lg-35c90b4c-977b-42b8-8ab9-44ab5062acb2_550x.jpg?v=1634849068 468w,
                  //cdn.shopify.com/s/files/1/0541/8313/3361/products/cf-lg-35c90b4c-977b-42b8-8ab9-44ab5062acb2_650x.jpg?v=1634849068 576w,
                  //cdn.shopify.com/s/files/1/0541/8313/3361/products/cf-lg-35c90b4c-977b-42b8-8ab9-44ab5062acb2_980x.jpg?v=1634849068 768w,
                  //cdn.shopify.com/s/files/1/0541/8313/3361/products/cf-lg-35c90b4c-977b-42b8-8ab9-44ab5062acb2_1100x.jpg?v=1634849068 992w,
                  //cdn.shopify.com/s/files/1/0541/8313/3361/products/cf-lg-35c90b4c-977b-42b8-8ab9-44ab5062acb2_1350x.jpg?v=1634849068 1200w,
                  //cdn.shopify.com/s/files/1/0541/8313/3361/products/cf-lg-35c90b4c-977b-42b8-8ab9-44ab5062acb2_1600x.jpg?v=1634849068 1400w
                  "></div></a></div> <div class="card-body px-0 pb-0" style="height: 150px;"><div class="row text-center"><div class="col-12"><h5 class="vender font-weight-bold text-gray-700 text-uppercase mb-2 f-open letter-spacing-normal"><a href="/collections/vendors?q=GARMIN" title="GARMIN">GARMIN</a></h5><a href="/collections/featured-products/products/gdl-50-ads-b-receiver" class="card-title mb-3">GDL 50</a></div> <div class="col-12"><span data-product-id="6599943585969" class="price m-0 p-0 h6 text-primary font-weight-bold f-open money">
          
            $699.00
          
        </span></div></div></div></div></div></div></div><button class="flickity-button flickity-prev-next-button previous" type="button" aria-label="Previous"><svg class="flickity-button-icon" viewBox="0 0 100 100"><path d="M 10,50 L 60,100 L 70,90 L 30,50  L 70,10 L 60,0 Z" class="arrow"></path></svg></button><button class="flickity-button flickity-prev-next-button next" type="button" aria-label="Next"><svg class="flickity-button-icon" viewBox="0 0 100 100"><path d="M 10,50 L 60,100 L 70,90 L 30,50  L 70,10 L 60,0 Z" class="arrow" transform="translate(100, 100) rotate(180) "></path></svg></button></div></div></section></div>

<div id="shopify-section-16141936289c14c045" class="shopify-section index-categories"><section data-section-id="16141936289c14c045" class="section-content categories pb-0"><div class="row no-gutters"><div class="col-md-6"><div class="row no-gutters"><div class="col-lg-3 col-sm-6 category-content left-side"><a href="/collections/ads-b"><div class="category-overlay narrow"><img data-sizes="auto" src="//cdn.shopify.com/s/files/1/0541/8313/3361/files/04_pico.jpg?v=1626873025" data-srcset="
                        //cdn.shopify.com/s/files/1/0541/8313/3361/files/04_350x.jpg?v=1626873025 300w,
                        //cdn.shopify.com/s/files/1/0541/8313/3361/files/04_550x.jpg?v=1626873025 468w,
                        //cdn.shopify.com/s/files/1/0541/8313/3361/files/04_650x.jpg?v=1626873025 576w,
                        //cdn.shopify.com/s/files/1/0541/8313/3361/files/04_980x.jpg?v=1626873025 768w,
                        //cdn.shopify.com/s/files/1/0541/8313/3361/files/04_1100x.jpg?v=1626873025 992w,
                        //cdn.shopify.com/s/files/1/0541/8313/3361/files/04_1350x.jpg?v=1626873025 1200w,
                        //cdn.shopify.com/s/files/1/0541/8313/3361/files/04_1600x.jpg?v=1626873025 1400w
                            " alt="ADS-B" class="category-image lazyautosizes ls-is-cached lazyloaded" sizes="234px" srcset="
                        //cdn.shopify.com/s/files/1/0541/8313/3361/files/04_350x.jpg?v=1626873025 300w,
                        //cdn.shopify.com/s/files/1/0541/8313/3361/files/04_550x.jpg?v=1626873025 468w,
                        //cdn.shopify.com/s/files/1/0541/8313/3361/files/04_650x.jpg?v=1626873025 576w,
                        //cdn.shopify.com/s/files/1/0541/8313/3361/files/04_980x.jpg?v=1626873025 768w,
                        //cdn.shopify.com/s/files/1/0541/8313/3361/files/04_1100x.jpg?v=1626873025 992w,
                        //cdn.shopify.com/s/files/1/0541/8313/3361/files/04_1350x.jpg?v=1626873025 1200w,
                        //cdn.shopify.com/s/files/1/0541/8313/3361/files/04_1600x.jpg?v=1626873025 1400w
                            "></div> <div class="category-title d-flex align-items-center"><img src="https://cdn.shopify.com/s/files/1/0541/8313/3361/files/ADS-B-icon.svg?v=1614161316" alt="ADS-B" class="ads-b" style="display: block !important;"><h5 class="mb-0 text-white">ADS-B</h5></div></a></div><div class="col-lg-9 col-sm-6 category-content"><a href="/collections/instruments"><div class="category-overlay wide adjusted"><img data-sizes="auto" src="//cdn.shopify.com/s/files/1/0541/8313/3361/files/05_pico.jpg?v=1626873044" data-srcset="
                            //cdn.shopify.com/s/files/1/0541/8313/3361/files/05_400x.jpg?v=1626873044 320w,
                            //cdn.shopify.com/s/files/1/0541/8313/3361/files/05_850x.jpg?v=1626873044 768w
                            " alt="Instruments" class="category-image lazyautosizes ls-is-cached lazyloaded" sizes="722px" srcset="
                            //cdn.shopify.com/s/files/1/0541/8313/3361/files/05_400x.jpg?v=1626873044 320w,
                            //cdn.shopify.com/s/files/1/0541/8313/3361/files/05_850x.jpg?v=1626873044 768w
                            "></div> <div class="category-title d-flex align-items-center"><img src="https://cdn.shopify.com/s/files/1/0541/8313/3361/files/avionics-icon.svg?v=1614161413" alt="Instruments" class="instruments"><h5 class="mb-0 text-white">Instruments</h5></div></a></div></div> <div class="row no-gutters"><div class="col-lg-9 col-sm-6 category-content left-side"><a href="/pages/kit-panels"><div class="category-overlay wide"><img data-sizes="auto" src="//cdn.shopify.com/s/files/1/0541/8313/3361/files/06_pico.jpg?v=1626873063" data-srcset="
                            //cdn.shopify.com/s/files/1/0541/8313/3361/files/06_400x.jpg?v=1626873063 320w,
                            //cdn.shopify.com/s/files/1/0541/8313/3361/files/06_850x.jpg?v=1626873063 768w
                            " alt="Kit Panels" class="category-image lazyautosizes ls-is-cached lazyloaded" sizes="722px" srcset="
                            //cdn.shopify.com/s/files/1/0541/8313/3361/files/06_400x.jpg?v=1626873063 320w,
                            //cdn.shopify.com/s/files/1/0541/8313/3361/files/06_850x.jpg?v=1626873063 768w
                            "></div> <div class="category-title d-flex align-items-center"><img src="https://cdn.shopify.com/s/files/1/0541/8313/3361/files/Kit-panels-icon.svg?v=1614161477" alt="Kit Panels" class="kit-panels"><h5 class="mb-0 text-white">Kit Panels</h5></div></a></div><div class="col-lg-3 col-sm-6 category-content"><a href="/collections/gps"><div class="category-overlay narrow"><img data-sizes="auto" src="//cdn.shopify.com/s/files/1/0541/8313/3361/files/07_pico.jpg?v=1626873083" data-srcset="
                            //cdn.shopify.com/s/files/1/0541/8313/3361/files/07_400x.jpg?v=1626873083 320w
                            " alt="GPS" class="category-image lazyautosizes ls-is-cached lazyloaded" sizes="234px" srcset="
                            //cdn.shopify.com/s/files/1/0541/8313/3361/files/07_400x.jpg?v=1626873083 320w
                            "></div> <div class="category-title d-flex align-items-center"><img src="https://cdn.shopify.com/s/files/1/0541/8313/3361/files/GPS-icon.svg?v=1614161436" alt="GPS" class="gps"><h5 class="mb-0 text-white">GPS</h5></div></a></div></div></div> <div class="col-md-6 for-inline"><div class="row no-gutters"><div class="col-lg-4 col-sm-6 category-content"><a href="/collections/handhelds"><div class="category-overlay tall"><img data-sizes="auto" src="//cdn.shopify.com/s/files/1/0541/8313/3361/files/08_pico.jpg?v=1626873103" data-srcset="
                           //cdn.shopify.com/s/files/1/0541/8313/3361/files/08_500x.jpg?v=1626873103 400w
                           " alt="Handhelds" class="category-image lazyautosizes ls-is-cached lazyloaded" sizes="315px" srcset="
                           //cdn.shopify.com/s/files/1/0541/8313/3361/files/08_500x.jpg?v=1626873103 400w
                           "></div> <div class="category-title d-flex align-items-center"><img src="https://cdn.shopify.com/s/files/1/0541/8313/3361/files/handhelds-icon.svg?v=1614161442" alt="Handhelds" class="handhelds"><h5 class="mb-0 text-white">Handhelds</h5></div></a></div><div class="col-lg-8"><div class="category-content right-side"><a href="/collections/installation-supplies"><div class="category-overlay"><img data-sizes="auto" src="//cdn.shopify.com/s/files/1/0541/8313/3361/files/09_pico.jpg?v=1626873126" data-srcset="
                              //cdn.shopify.com/s/files/1/0541/8313/3361/files/09_400x.jpg?v=1626873126 320w,
                              //cdn.shopify.com/s/files/1/0541/8313/3361/files/09_850x.jpg?v=1626873126 768w
                              " alt="Installations<br>&amp; Repairs" class="category-image lazyautosizes ls-is-cached lazyloaded" sizes="641px" srcset="
                              //cdn.shopify.com/s/files/1/0541/8313/3361/files/09_400x.jpg?v=1626873126 320w,
                              //cdn.shopify.com/s/files/1/0541/8313/3361/files/09_850x.jpg?v=1626873126 768w
                              "></div> <div class="category-title d-flex align-items-center"><img src="https://cdn.shopify.com/s/files/1/0541/8313/3361/files/Install-icon.svg?v=1614161462" alt="Installations<br>&amp; Repairs" class="installs"><h5 class="mb-0 text-white">Installations<br>&amp; Repairs</h5></div></a></div><div class="row no-gutters"><div class="col-lg-6 col-sm-6 category-content"><a href="/collections/headsetsintercoms"><div class="category-overlay"><img data-sizes="auto" src="//cdn.shopify.com/s/files/1/0541/8313/3361/files/10_pico.jpg?v=1626873139" data-srcset="
                                 //cdn.shopify.com/s/files/1/0541/8313/3361/files/10_400x.jpg?v=1626873139 320w
                                 " alt="Headsets" class="category-image lazyautosizes lazyloaded" sizes="315px" srcset="
                                 //cdn.shopify.com/s/files/1/0541/8313/3361/files/10_400x.jpg?v=1626873139 320w
                                 "></div> <div class="category-title d-flex align-items-center"><img src="https://cdn.shopify.com/s/files/1/0541/8313/3361/files/headsets-icon.svg?v=1614161453" alt="Headsets" class="headsets"><h5 class="mb-0 text-white">Headsets</h5></div></a></div><div class="col-lg-6 col-sm-6 category-content right-side"><a href="/collections/pilot-supplies"><div class="category-overlay wide"><img data-sizes="auto" src="//cdn.shopify.com/s/files/1/0541/8313/3361/files/23_pico.jpg?v=1626873289" data-srcset="
                                 //cdn.shopify.com/s/files/1/0541/8313/3361/files/23_400x.jpg?v=1626873289 320w
                                 " alt="Pilot Supplies" class="category-image lazyautosizes lazyloaded" sizes="315px" srcset="
                                 //cdn.shopify.com/s/files/1/0541/8313/3361/files/23_400x.jpg?v=1626873289 320w
                                 "></div> <div class="category-title d-flex align-items-center"><img src="https://cdn.shopify.com/s/files/1/0541/8313/3361/files/pilot-supplies-icon.svg?v=1614161501" alt="Pilot Supplies" class="pilot-supplies"><h5 class="mb-0 text-white">Pilot Supplies</h5></div></a></div></div></div></div></div></div></section></div>

<div id="shopify-section-1614165991ea8a93be" class="shopify-section"><div data-section-id="1614165991ea8a93be" class="section-content"><div class="container"><div class="row justify-content-center text-center"><div class="col-12 text-center"><div class="row mb-md-8 mb-4"><div class="col-md-8 mx-auto position-relative"><h2 class="section-title d-inline-block mb-0 text-primary text-uppercase letter-spacing font-weight-normal px-lg-6 px-4 bg-white zindex-sticky position-relative">Manufacturers</h2> <span class="d-md-block d-none w-100 border-bottom border-primary position-absolute top-left-50" style="border-width: 3px !important;"></span></div></div></div></div> <div class="row"><div class="col-lg-12 col-md-11 col-10 mx-auto"><div data-flickity="{
                        &quot;cellAlign&quot;: &quot;center&quot;,
                        &quot;contain&quot;: true,
                        &quot;groupCells&quot;: true,
                        &quot;prevNextButtons&quot;: true,
                        &quot;pageDots&quot;: false,
                        &quot;arrowShape&quot;:  {&quot;x0&quot;: 10, &quot;x1&quot;: 60, &quot;y1&quot;: 50, &quot;x2&quot;: 70, &quot;y2&quot;: 40, &quot;x3&quot;: 30},
                        
                        &quot;wrapAround&quot;: false
                    }" class="logo-list row carousel flickity-enabled is-draggable" tabindex="0">       <div class="flickity-viewport" style="height: 80px; touch-action: pan-y;"><div class="flickity-slider" style="left: 0px; transform: translateX(0%);"><div class="text-center col-xl-2 col-md-3 col-sm-4 col-6 carousel-cell equal-height align-items-center d-flex justify-content-center is-selected" style="position: absolute; left: 0%;"><a href="/collections/garmin" class="logo-wrapper"><img src="//cdn.shopify.com/s/files/1/0541/8313/3361/files/24_medium.jpg?v=1626873427" data-src="//cdn.shopify.com/s/files/1/0541/8313/3361/files/24_medium.jpg?v=1626873427" alt="Gulf Coast Avionics" class="mw-100 ls-is-cached lazyloaded"></a></div><div class="text-center col-xl-2 col-md-3 col-sm-4 col-6 carousel-cell equal-height align-items-center d-flex justify-content-center is-selected" style="position: absolute; left: 16.67%;"><a href="/collections/aspen-avionics" class="logo-wrapper"><img src="//cdn.shopify.com/s/files/1/0541/8313/3361/files/17_medium.jpg?v=1626873454" data-src="//cdn.shopify.com/s/files/1/0541/8313/3361/files/17_medium.jpg?v=1626873454" alt="Gulf Coast Avionics" class="mw-100 ls-is-cached lazyloaded"></a></div><div class="text-center col-xl-2 col-md-3 col-sm-4 col-6 carousel-cell equal-height align-items-center d-flex justify-content-center is-selected" style="position: absolute; left: 33.33%;"><a href="/collections/appareo" class="logo-wrapper"><img src="//cdn.shopify.com/s/files/1/0541/8313/3361/files/18_medium.jpg?v=1626873472" data-src="//cdn.shopify.com/s/files/1/0541/8313/3361/files/18_medium.jpg?v=1626873472" alt="Gulf Coast Avionics" class="mw-100 ls-is-cached lazyloaded"></a></div><div class="text-center col-xl-2 col-md-3 col-sm-4 col-6 carousel-cell equal-height align-items-center d-flex justify-content-center is-selected" style="position: absolute; left: 50%;"><a href="/collections/bendixking" class="logo-wrapper"><img src="//cdn.shopify.com/s/files/1/0541/8313/3361/files/19_medium.jpg?v=1626873494" data-src="//cdn.shopify.com/s/files/1/0541/8313/3361/files/19_medium.jpg?v=1626873494" alt="Gulf Coast Avionics" class="mw-100 ls-is-cached lazyloaded"></a></div><div class="text-center col-xl-2 col-md-3 col-sm-4 col-6 carousel-cell equal-height align-items-center d-flex justify-content-center is-selected" style="position: absolute; left: 66.67%;"><a href="/collections/jp-instruments" class="logo-wrapper"><img src="//cdn.shopify.com/s/files/1/0541/8313/3361/files/20_medium.jpg?v=1626873507" data-src="//cdn.shopify.com/s/files/1/0541/8313/3361/files/20_medium.jpg?v=1626873507" alt="Gulf Coast Avionics" class="mw-100 ls-is-cached lazyloaded"></a></div><div class="text-center col-xl-2 col-md-3 col-sm-4 col-6 carousel-cell equal-height align-items-center d-flex justify-content-center is-selected" style="position: absolute; left: 83.33%;"><a href="/collections/electronics-international" class="logo-wrapper"><img src="//cdn.shopify.com/s/files/1/0541/8313/3361/files/electronicsInternationalLogo_d16dbfae-dcae-496d-86bf-0d969df56ce2_medium.png?v=1632929312" data-src="//cdn.shopify.com/s/files/1/0541/8313/3361/files/electronicsInternationalLogo_d16dbfae-dcae-496d-86bf-0d969df56ce2_medium.png?v=1632929312" alt="Gulf Coast Avionics" class="mw-100 ls-is-cached lazyloaded"></a></div><div class="text-center col-xl-2 col-md-3 col-sm-4 col-6 carousel-cell equal-height align-items-center d-flex justify-content-center" aria-hidden="true" style="position: absolute; left: 100%;"><a href="/collections/ps-engineering" class="logo-wrapper"><img src="//cdn.shopify.com/s/files/1/0541/8313/3361/files/21_medium.jpg?v=1626873523" data-src="//cdn.shopify.com/s/files/1/0541/8313/3361/files/21_medium.jpg?v=1626873523" alt="Gulf Coast Avionics" class="mw-100 ls-is-cached lazyloaded"></a></div><div class="text-center col-xl-2 col-md-3 col-sm-4 col-6 carousel-cell equal-height align-items-center d-flex justify-content-center" aria-hidden="true" style="position: absolute; left: 116.67%;"><a href="/collections/uavionix" class="logo-wrapper"><img src="//cdn.shopify.com/s/files/1/0541/8313/3361/files/uAvionix-Logo-1500x603_medium.png?v=1614167016" data-src="//cdn.shopify.com/s/files/1/0541/8313/3361/files/uAvionix-Logo-1500x603_medium.png?v=1614167016" alt="Gulf Coast Avionics" class="mw-100 ls-is-cached lazyloaded"></a></div></div></div><button class="flickity-button flickity-prev-next-button previous" type="button" disabled="" aria-label="Previous"><svg class="flickity-button-icon" viewBox="0 0 100 100"><path d="M 10,50 L 60,100 L 70,90 L 30,50  L 70,10 L 60,0 Z" class="arrow"></path></svg></button><button class="flickity-button flickity-prev-next-button next" type="button" aria-label="Next"><svg class="flickity-button-icon" viewBox="0 0 100 100"><path d="M 10,50 L 60,100 L 70,90 L 30,50  L 70,10 L 60,0 Z" class="arrow" transform="translate(100, 100) rotate(180) "></path></svg></button></div></div></div></div></div></div>